<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Keiji</title>
</head>

<body>
  {% if current_user.is_authenticated %}
    <p>
      Logged in as {{ current_user.nickname }}. <a href="{{ url_for('auth_logout') }}">Log out</a>
    </p>
  {% else %}
    <a href="{{ url_for('auth_login') }}">Login</a>
    <a href="{{ url_for('auth_register') }}">Register</a>
  {% endif %}

  <ul>
    <li><a href="/">Home</a></li>
	  <li><a href="{{ url_for('categories_index') }}">List categories</a></li>
	  <li><a href="{{ url_for('categories_form') }}">Add a category</a></li>
    <li><a href="{{ url_for('events_index') }}">List events</a></li>
	  <li><a href="{{ url_for('events_form') }}">Add a event</a></li>
  </ul>

  {% block body %}
  {% endblock %}
</body>
</html>
