{% extends "layout.html" %}
  
{% block body %}
  <form method="POST" action="{{ url_for('auth_register') }}">
    <div>
      <div>
        <div>{{ form.nickname.label }} <br> {{ form.nickname }}</div>
        {% for error in form.nickname.errors %}
          <div>{{ error }}</div>
        {% endfor %}
        <br>
      </div>
      <div>
        <div>{{ form.username.label }} <br> {{ form.username }}</div>
        {% for error in form.username.errors %}
          <div>{{ error }}</div>
        {% endfor %}
        <br>
      </div>
      <div>
        <div>{{ form.password.label }} <br> {{ form.password }}</div>
        {% for error in form.password.errors %}
          <div>{{ error }}</div>
        {% endfor %}
        <br>
      </div>
        <div>
        <div>{{ form.language.label }} <br> {{ form.language }}</div>
        {% for error in form.language.errors %}
          <div>{{ error }}</div>
        {% endfor %}
        <br>
      </div>
      <div>
        <input class="button" type="submit" value="Register"/>
      </div>
    </div>
  </form>
  <h2>{{ error }}</h2>
{% endblock %}
