{% extends "layout.html" %}

{% block body %}
  <h1>Clips</h1>
  {% if not clips[0] %}
    <h3>Looks like there aren't any clips.</h3>
  {% endif %}
  <div class="rTable">
    <div class="rTableBody">
      {% if not clips[0] %}
        <div class="rTableRow label">
          <div class="rTableHead">{{ form.category_id.label }}</div>
          <div class="rTableHead">{{ form.content.label }}</div>
        </div>
      {% endif %}
      {% for clip in clips %}
      <div class="rTableRow">
        <div class="rTableCell item">{{ clip_categories[clip.id] }}</div>
        <div class="rTableCell item">{{ clip.content }}</div>
      <div class="rTableCell">
        <button style="width: 110px;" id="edit-button-{{ clip.id }}" class="edit button" onclick="show_edit({{ clip.id }}, `{{ url_for('clips_index')}}`)">
          Edit / Delete
        </button>
      </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <br>

  {% for clip in clips %}
    <div style="display: none" id="edit-{{ clip.id }}" class="edit">
      <form method="POST" action="{{ url_for('clips_edit', clip_id=clip.id) }}">

      <div class="edit-element">
        <div>{{ form.category_id.label }}</div>
        <div>{{ form.category_id }}</div>
        <ul>
          {% for error in form.category_id.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </div>
      <br>
      <div class="edit-element">
        <div>{{ form.content.label }}</div>
        <div class="input-box">{{ form.content }}</div>
        <ul>
          {% for error in form.content.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </div>

      <br><input class="button edit-element" type="submit" value="Save"/>
      </form>

      <form method="POST" action="{{ url_for('clips_delete', clip_id=clip.id) }}">
        <input class="button" type="submit" value="Delete"/>
      </form>

    </div>
  {% endfor %}

  <form action="{{ url_for('clips_form') }}">
    <input class="button" type="submit" value="Add new"/>
  </form>

  <script type="text/javascript" src="{{ url_for('static', filename = 'js/edit.js') }}"></script>
{% endblock %}
