{% extends "layout.html" %}

{% block body %}
  <h1>Add a clip</h1>
  <form method="POST" action="{{ url_for('clips_create') }}">
    <div>
      <div>
        <div>
          <div>{{ form.category_id.label }} <br> {{ form.category_id }}</div>
          {% for error in form.category_id.errors %}
            <div>{{ error }}</div>
          {% endfor %}
        </div>
        <br>
        <div>
          <div>{{ form.content.label }} <br> {{ form.content }}</div>
          {% for error in form.content.errors %}
            <div>{{ error }}</div>
          {% endfor %}
        </div>
      </div>
    </div>
    <br>
    <input class="button" type="submit" value="Add a new clip"/>
  </form>
{% endblock %}
