{% extends "layout.html" %}

{% block body %}
  <h1>Categories</h1>
  {% if not categories[0] %}
    <h3>Looks like there aren't any categories.</h3>
  {% endif %}
    <div class="rTable">
    <div class="rTableBody">
      {% if categories[0] %}
        <div class="rTableRow label">
          <div class="rTableHead">{{ form.name.label }}</div>
          <div class="rTableHead">{{ form.description.label }}</div>
        </div>
      {% endif %}
      {% for category in categories %}
      <div class="rTableRow">
        <div class="rTableCell item">{{ category.name }}</div>
        <div class="rTableCell item">{{ category.description }}</div>
      <div class="rTableCell">
        <button style="width: 110px;" id="edit-button-{{ category.id }}" class="edit button" onclick="show_edit({{ category.id }}, `{{ url_for('categories_index')}}`)">
          Edit / Delete
        </button>
      </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <p>{{ delete_error }}</p>
  <br>

  {% for category in categories %}
    <div style="display: none" id="edit-{{ category.id }}" class="edit">
      <form method="POST" action="{{ url_for('categories_edit', category_id=category.id) }}">

      <div class="edit-element">
        <div>{{ form.name.label }}</div>
        <div>{{ form.name }}</div>
        <ul>
          {% for error in form.name.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </div>
      <br>
      <div class="edit-element">
        <div>{{ form.description.label }}</div>
        <div>{{ form.description }}</div>
        <ul>
          {% for error in form.description.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </div>

      <br><input class="button edit-element" type="submit" value="Save"/>
      </form>

      <form method="POST" action="{{ url_for('categories_delete', category_id=category.id) }}">
        <input class="button" type="submit" value="Delete"/>
      </form>

    </div>
  {% endfor %}

  <form action="{{ url_for('categories_form') }}">
    <input class="button" type="submit" value="Add new"/>
  </form>

  <script type="text/javascript" src="{{ url_for('static', filename = 'js/edit.js') }}"></script>
{% endblock %}
