{% extends "layout.html" %}
  
{% block body %}
  <h1>Add a category</h1>
  <form method="POST" action="{{ url_for('categories_create') }}">
    <div>
      <div>
        <div>
          <div>{{ form.name.label }} <br> {{ form.name }}</div>
          {% for error in form.name.errors %}
            <div>{{ error }}</div>
          {% endfor %}
        </div>
        <br>
        <div>
          <div>{{ form.description.label }} <br> {{ form.description }}</div>
          {% for error in form.description.errors %}
            <div>{{ error }}</div>
          {% endfor %}
        </div>
      </div>
    </div>
    <br>
    <input class="button" type="submit" value="Add a new category"/>
  </form>
{% endblock %}
