{% extends "layout.html" %}

{% block body %}
  <h1>Events</h1>
  <div class="rTable">
    <div class="rTableBody">
      <div class="rTableRow label">
        <div class="rTableHead">{{ form.category_id.label }}</div>
        <div class="rTableHead">{{ form.duration.label }}</div>
        <div class="rTableHead">{{ form.description.label }}</div>
      </div>
      {% for event in events %}
      <div class="rTableRow">
        <div class="rTableCell item">{{ category.query.filter_by(id=event.category_id).first().name }}</div>
        <div class="rTableCell item">{{ event.duration  }}</div>
        <div class="rTableCell item">{{ event.description  }}</div>
      <div class="rTableCell">
        <button style="width: 110px;" id="edit-button-{{ event.id }}" class="edit button" onclick="show_edit({{ event.id }}, `{{ url_for('events_index')}}`)">
          Edit / Delete
        </button>
      </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <br>

  {% for event in events %}
    <div style="display: none" id="edit-{{ event.id }}" class="edit">
      <form method="POST" action="{{ url_for('events_edit', event_id=event.id) }}">

      <div class="edit-element">
        <div>{{ form.category_id.label }}</div>
        <div>{{ form.category_id }}</div>
        <ul>
          {% for error in form.category_id.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="edit-element">
        <div>{{ form.duration.label }}</div>
        <div>{{ form.duration }}</div>
        <ul>
          {% for error in form.duration.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </div>
      <br>
      <div class="edit-element">
        <div>{{ form.description.label }}</div>
        <div>{{ form.description }}</div>
        <ul>
          {% for error in form.description.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </div>

      <br><input class="button edit-element" type="submit" value="Save"/>
      </form>

      <form method="POST" action="{{ url_for('events_delete', event_id=event.id) }}">
        <input class="button" type="submit" value="Delete"/>
      </form>

    </div>
  {% endfor %}

  <script type="text/javascript" src="{{ url_for('static', filename = 'js/edit.js') }}"></script>
{% endblock %}