{% extends "layout.html" %}

{% block body %}
  <h1>Events</h1>
  <table>
    <tr class="label">
      <th>{{ form.category_id.label }}</th>
      <th>{{ form.duration.label }}</th>
      <th>{{ form.description.label }}</th>
    </tr>

    {% for event in events %}
    <tr class="item">
      <td>{{ category.query.filter_by(id=event.category_id).first().name }}</td>
      <td>{{ event.duration }}</td>
      <td>{{ event.description }}</td>

      <td>
        <button style="width: 110px;" id="edit-button-{{ event.id }}" class="edit button" onclick="show_edit({{ event.id }})">
          Edit / Delete
        </button>
      </td>

    </tr>
    {% endfor %}
  </table>
  <br>

  {% for event in events %}
    <div style="display: none" id="edit-{{ event.id }}" class="edit">
      <form method="POST" action="{{ url_for('events_edit', event_id=event.id) }}">

      <div class="edit-element">
        <div>{{ form.category_id.label }}</div>
        <div>{{ form.category_id }}</div>
        <ul>
          {% for error in form.category_id.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="edit-element">
        <div>{{ form.duration.label }}</div>
        <div>{{ form.duration }}</div>
        <ul>
          {% for error in form.duration.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </div>
      <br>
      <div class="edit-element">
        <div>{{ form.description.label }}</div>
        <div>{{ form.description }}</div>
        <ul>
          {% for error in form.description.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </div>

      <br><input class="button edit-element" type="submit" value="Save"/>
      </form>

      <form method="POST" action="{{ url_for('events_delete', event_id=event.id) }}">
        <input class="button" type="submit" value="Delete"/>
      </form>

    </div>
  {% endfor %}

  <script>
      function show_edit(id) {
          const e = document.getElementById(`edit-${id}`);
          const eClasses = document.getElementsByClassName(`edit`);

          if (e.style.display === "none") {
              for (const eClass of eClasses) {
                  eClass.style.display = "none";
              }

              document.getElementById(`edit-button-${id}`).style.display = 'Block';
              document.getElementById(`edit-button-${id}`).innerText = 'Cancel';
              e.style.display = "block";
          } else {
              document.getElementById(`edit-button-${id}`).innerText = 'Edit / Delete';
              e.style.display = "none";
              document.body.innerHTML += '<form id="cancel-edit" action="{{ url_for('events_index')}}" ' +
                  'method="post"><input class="button" type="hidden"></form>';
              document.getElementById("cancel-edit").submit();
          }
      }
  </script>
{% endblock %}