{% extends "layout.html" %}

{% block body %}
  <h1>Add an event</h1>
  <form method="POST" action="{{ url_for('events_create') }}">
    <div>
      <div>
        <div>
          <div id="dropdown">{{ form.category_id.label }} <br> {{ form.category_id }}</div>
          {% for error in form.category_id.errors %}
            <div>{{ error }}</div>
          {% endfor %}
        </div>
        <br>
        <div>
          <div>{{ form.duration.label }} <br> {{ form.duration }}</div>
          {% for error in form.duration.errors %}
            <div>{{ error }}</div>
          {% endfor %}
        </div>
        <br>
        <div>
          <div>{{ form.description.label }} <br> {{ form.description }}</div>
          {% for error in form.description.errors %}
            <div>{{ error }}</div>
          {% endfor %}
        </div>
      </div>
    </div>
    <br>
    <input class="button" type="submit" value="Add a new event"/>
  </form>
{% endblock %}
